.container{
    display: flex;
    justify-content: center;
    height: 50vh;
}
.friend{
    display: flex;
    padding: 5px 0px;
    align-items: center;
    margin: 10px 0px;
    justify-content: center;
    transition: 800ms;
    &:hover{
        background-color: rgb(202, 201, 201);
        cursor: pointer;
    }
}

.friend>p{
    font-size: 20px;
    margin-left: 15px;
}

@media only screen and (max-width: 700px) {
    .container>div{
        margin-top: 75px;
    }
  }